body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.hero-section {
    background-image: url('https://i.pinimg.com/474x/53/11/16/531116a67abc7e7780204889e578dcaf.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.container {
    position: relative;
    z-index: 1;
}

h2 {
    color: white;
    margin-top: 20px;
    font-size: 3.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.card {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
    border-radius: 15px;
    height: 300px;
    transition: transform 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.card-text {
    color: #666;
    font-size: 1rem;
}

.footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    position: relative;
    margin-top: 30px;
}

.btn-brown {
    background-color: #8B4513;
    color: white;
    font-size: 1.5rem;
    padding: 15px 30px;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-brown:hover {
    background-color: #a0522d;
    transform: scale(1.05);
}

.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000; 
}

.navbar-nav .nav-link {
    padding: 15px 20px;
}

.logo-item {
    margin-left: 20px; 
}

.wider-text {
    font-size: 1.2rem; 
    font-weight: bold; 
}
.footer {
    background-color: #b4b5b6;
    padding: 20px 0;
    margin-top: 30px;
    transition: all 0.3s ease;
}

.footer:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }

    .btn-brown {
        width: 100%;
    }
}